<% if logado? %>
  <p>Olá <%=usuario_atual.nome %></p>
  <p><%= link_to("Logoff",
      sessao_path,
      :method => :delete,
      :confirm => "Tem certeza que deseja sair da aplicação?") %> </p>

<%else%>
  <p>
    <%= link_to( "Faça login na aplicação", sessao_path) %>
    <%= link_to( "Cadastre-se na aplicação", usuario_path) %>
  </p>
<%end%>

<ul>
  <li><%= link_to 'Produtos', produtos_path %></li>
  <%  unless pedido_atual.blank? %>
    <li>
      <%=  link_to( "Veja valor no seu carrinho", itens_path) %>
    </li>
  <% end %>
</ul>
