<html>
  <head>
    <title>Loja - <%= @titulo %> </title>
    <%= yield :stylesheets %>



  </head>
  <body>
    <h1>Loja - <%= yield :cabecalho %>  | Loja </h1>

    <%= render_flash %>

    <%= render "compartilhados/cabecalho" %>

    <%= yield %>

  </body>
</html>