<html>
  <head>
    <title>Loja - <%= @titulo %> </title>
    <%= yield :stylesheets %>



  </head>
  <body>
    <h1>Loja - <%= yield :cabecalho %>  | Loja </h1>

    <%= render_flash %>

    <ul>
      <li><%= link_to 'Produtos', produtos_path %></li>
        <%  unless pedido_atual.blank? %>
        <li>
          <%=  link_to( "Veja valor no seu carrinho", itens_path) %>
        </li>
      </ul>



    <%end%>

    <%= yield %>

  </body>
</html>